@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Shop";
}

<h2>Shop</h2>

<div class="row">
    @foreach (var p in Model)
    {
    <form method="post" asp-controller="Home" asp-action="Purchase"  >
       
        <input type="hidden" name="productId" value="@p.ProductId" />
        <div class="col-md-3">
            <div class="well well-sm" style="width:250px;">
                <img src="~/images/@(p.ArtId).jpg" class="img-responsive" alt="@p.Title" />
                <h3>@p.Category - @p.Price</h3>
                <ul>
                    <li>Price :@p.Price</li>
                    <li>Artist :@p.Artist</li>
                    <li>Title : @p.Title</li>
                    <li>Description : @p.ArtDescription</li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                <input  type="submit" value="Buy" class="btn btn-success" />
               
                }
            </div>
        </div>
    </form>
    }
</div>

